<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Acesse aqui a sua aula!</h1>
    
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/cursos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Aulas
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/adm">Administração</a></li>
      <li><a class="dropdown-item" href="/infor">Informatíca</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/ven">Vendas</a></li>
    </ul>
  </li>
 
<h1>AAANA</h1>


  <!DOCTYPE html>
  <html lang="pt-br">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>PrimeCasa - Catálogo de Produtos</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body class="container">  
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">PrimeCasa</a>
          <div class="collapse navbar-collapse">
              <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link" href="/home/">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="/catalogo/">Catálogo</a></li>
                  <li class="nav-item"><a class="nav-link" href="/sobre/">Sobre</a></li>
                  <li class="nav-item"><a class="nav-link" href="/contato/">Contato</a></li>
              </ul>
          </div>
      </nav>
      <div class="container mt-5">
          <h2>Catálogo de Produtos</h2>
          <div class="row">
              <div class="col-md-4">
                  <div class="card">
                      <img src="https://www.bendicasa.com.br/catalogo/resources/images/catalogo/prd_12456_1.jpg" class="card-img-top" alt="Triciclo Biemme Baby Trike Evolution">
                      <div class="card-body">
                          <h5 class="card-title">Triciclo Biemme Baby Trike Evolution</h5>
                          <h2 class="card-text">R$389,40</h2>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <img src="https://www.bendicasa.com.br/catalogo/resources/images/catalogo/prd_13825_1.jpg" class="card-img-top" alt="Climatizador Symphony 27XL Ice Cube 27 Litros 105W">
                      <div class="card-body">
                          <h5 class="card-title">Climatizador Symphony 27XL Ice Cube</h5>
                          <h2 class="card-text">R$479,90</h2>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <img src="https://www.bendicasa.com.br/catalogo/resources/images/catalogo/prd_13434_1.jpg" class="card-img-top" alt="Fritadeira Sem Óleo Amvox">
                      <div class="card-body">
                          <h5 class="card-title">Fritadeira Sem Óleo Amvox ARF1255</h5>
                          <h2 class="card-text">R$499,90</h2>
                      </div>
                  </div>
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-4">
                  <div class="card">
                      <img src="https://www.bendicasa.com.br/catalogo/resources/images/catalogo/prd_13328_1.jpg" class="card-img-top" alt="Estante Home Valde Móveis">
                      <div class="card-body">
                          <h5 class="card-title">Estante Home Valde Móveis Curitiba</h5>
                          <h2 class="card-text">R$897,66</h2>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <img src="https://www.bendicasa.com.br/catalogo/resources/images/catalogo/prd_13916_1.jpg" class="card-img-top" alt="Base Box Para Cama Queen">
                      <div class="card-body">
                          <h5 class="card-title">Base Box Para Cama Queen Ortobom</h5>
                          <h2 class="card-text">R$373,26</h2>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <img src="https://www.bendicasa.com.br/catalogo/resources/images/catalogo/prd_14044_1.jpg" class="card-img-top" alt="Ferro de Passar Roupa">
                      <div class="card-body">
                          <h5 class="card-title">Ferro de Passar Roupa a Vapor Black Decker</h5>
                          <h2 class="card-text">R$135,76</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </body>
  </html>
</body>
</html>