<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>AJ eventos</h1>
    <h3>Contatos da impresa </h3>
    <p>
        <ul>
            <li>"Endereço Rua AV.extremidade, 11, Bairro santo expedito, Cidade: Buritizeiro mg,  CEP 00000-000,",</li>
            <li>"Telefone (11) 1234-5678",</li>
            <li>"E-mail AJ eventos@gmail.com",</li>
            <li>"Site: www.AJeventos.com.br,",</li>
            <li>"Redes Sociais: @AJeventos,</li>
        </ul>
    </p>


</body>
</html>