<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Informações da empresa</h1>

    <p>
        Somos um empresa nova no meio com um unico intuito, que as pessoas possam ter lazer, diversão, e praticidade em um só lugar, la se encontra:
        <ul>
            <li>Piscina</li>
            <li>Churrasqueira</li>
            <li>Quatro quartos</li>
            <li>Quadra de vôlei</li>
            <li>Campo aberto para varios esportes</li>
        </ul>
    </p>
</body>
</html>