<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{titulo}}</h1>
 {{descricao}}


    <form method="POST">
        {% csrf_token %}
        <input type="text" name="frase">
        <button type="text">Enviar</button>
    </form>

    {% if conta_caracteres %}
        <h2> O numero de caracteres é: {{ conta_caracteres }}</h2>
    {% endif %}
    <br><a href="{% url 'home' %}">Lista de exercicios</a></br>
</body>
</html>