<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Menu Lista de exercicios</h1>

    <br><a href="{% url 'ex1' %}">exercicio 1</a></br>
    <br><a href="{% url 'ex2' %}">exercicio 2</a></br>
    <br><a href="{% url 'ex3' %}">exercicio 3</a></br>
    <br><a href="{% url 'ex4' %}">exercicio 4</a></br>
    <br><a href="{% url 'ex5' %}">exercicio 5</a></br>
    <br><a href="{% url 'ex6' %}">exercicio 6</a></br>
    <br><a href="{% url 'ex7' %}">exercicio 7</a></br>
    <br><a href="{% url 'ex8' %}">exercicio 8</a></br>
    <br><a href="{% url 'ex9' %}">exercicio 9</a></br>
    <br><a href="{% url 'ex10' %}">exercicio 10</a></br>
    <br><a href="{% url 'ex11' %}">exercicio 11</a></br>
    <br><a href="{% url 'ex12' %}">exercicio 12</a></br>
    <br><a href="{% url 'ex13' %}">exercicio 13</a></br>
    <br><a href="{% url 'ex14' %}">exercicio 14</a></br>
    <br><a href="{% url 'ex15' %}">exercicio 15</a></br>
    <br><a href="{% url 'ex16' %}">exercicio 16</a></br>
    <br><a href="{% url 'ex17' %}">exercicio 17</a></br>
    <br><a href="{% url 'ex18' %}">exercicio 18</a></br>
    <br><a href="{% url 'ex19' %}">exercicio 19</a></br>
    <br><a href="{% url 'ex20' %}">exercicio 20</a></br>
    <br><a href="{% url 'ex21' %}">exercicio 21</a></br>
    <br><a href="{% url 'ex22' %}">exercicio 22</a></br>
    <br><a href="{% url 'ex23' %}">exercicio 23</a></br>
    <br><a href="{% url 'ex24' %}">exercicio 24</a></br>
    <br><a href="{% url 'ex25' %}">exercicio 25</a></br>
    <br><a href="{% url 'ex26' %}">exercicio 26</a></br>
    <br><a href="{% url 'ex27' %}">exercicio 27</a></br>
    <br><a href="{% url 'ex28' %}">exercicio 28</a></br>
</body>
</html>